@import 'reset';
@import 'variables/global';
@import 'themes/dark';
@import 'themes/light';

.app,
.app_modal {
	color: var(--secondary-color);
	font: var(--font-m);
}

.app {
	background: var(--body-color);
	min-height: 100vh;
}

.contentPage {
	display: flex;
	margin: 0 auto;
	min-height: calc(100vh - 50px);
	width: 85vw;
}

.pageWrapper {
	margin-top: 100px;
}
