* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

input,
button,
textarea,
select {
	font: inherit;
	margin: 0;
}

a {
	text-decoration: none;
}

body {
	min-height: 100vh;
}

/* stylelint-disable-next-line selector-max-id */
#root {
	min-height: 100vh;
}