.LoginForm {
	display: flex;
	flex-direction: column;
	width: 400px;
}

.item {
	align-items: center;
	display: flex;
	margin-top: 10px;
}

.text {
	width: 70px;
}

.input {
	width: 300px;
}

.loginBtn {
	margin-left: auto;
	margin-top: 15px;
}