:root {
	--font-family-main: consolas, 'times New Roman';
	--font-size-m: 16px;
	--font-line-m: 24px;
	--font-m: var(--font-size-m) / var(--font-line-m) var(--font-family-main);
	--font-size-l: 24px;
	--font-line-l: 32px;
	--font-l: var(--font-size-l) / var(--font-line-l) var(--font-family-main);
	--font-size-xl: 32px;
	--font-line-xl: 40px;
	--font-xl: var(--font-size-xl) / var(--font-line-xl) var(--font-family-main);

	// Размеры
	--header-height: 50px;
	--sidebar-width: 300px;
	--sidebar-width-collapsed: 80px;

	// z - Индексы
	--z-LuminousContainerPage: 1;
	--z-login-figure: 2;
	--z-LuminousContainer: 4;
	--z-loginMenu: 5;
	--z-header: 5;
	--z-sidebar: 5;
	--z-sidebarItem-text: 6;
	--z-sidebarItem-icon: 7;
	--z-modal-active: 10;
	--z-modal: -1;

	// z - Индексы :hover
	--zh-LuminousContainer: 10;

	// Цвета
	--shadow: #0b0c1078;
	--modal-bg: #0b0c109d;
	--container: #0b0c103d;
}
