.title {
	font: var(--font-xl);
	font-weight: 600;
}

.text {
	font: var(--font-m);
	font-weight: 600;
}

.primary {
	color: var(--primary-color);
}

.secondary {
	color: var(--secondary-color);
}

.attn {
	color: var(--col-attn);
}

.link {
	cursor: pointer;
	transition: 0.2s;

	&:hover {
		color: #fff;
		text-shadow: var(--luminous-shadow-text);
	}
}

.attn.link {
	&:hover {
		color: #fff;
		text-shadow: var(--luminous-shadow-text-attn);
	}
}

.spacing {
	letter-spacing: 0.6px;
}

.hidden {
	.title,
	.text {
		opacity: 0;
		visibility: hidden;
	}
}

.left {
	text-align: left;
}

.right {
	text-align: right;
}

.center {
	text-align: center;
}