.title {
	font: var(--font-l);
}

.text {
	font: var(--font-m);
}

.primary {
	color: var(--primary-color);
}

.secondary {
	color: var(--secondary-color);
}

.attn {
	color: var(--col-attn);
}

.link {
	cursor: pointer;
	transition: 0.2s;

	&:hover {
		color: #fff;
		text-shadow: var(--luminous-shadow-text);
	}
}

.attn.link {
	&:hover {
		color: var(--col-attn);
		text-shadow: var(--luminous-shadow-text-attn);
	}
}

.left {
	text-align: left;
}

.right {
	text-align: right;
}

.center {
	text-align: center;
}