.title {
	font: var(--font-l);
}

.text {
	font: var(--font-m);
}

.primary {
	color: var(--primary-color);
}

.secondary {
	color: var(--secondary-color);
}

.attn {
	color: var(--col-attn);
}

.primary.link {
	background-image: linear-gradient(to right, var(--col-attn), var(--primary-color));
}

.secondary.link {
	background-color: var(--secondary-color);
}

.attn.link {
	background-color: var(--col-attn);
}

.link {
	// -webkit-background-clip: text;
	background-clip: text;
	color: transparent;
	cursor: pointer;
	transition: 1s;

	&:hover {
		background-image: linear-gradient(to right, var(--primary-color), var(--col-attn));
		transition: 1s;
	}
}

.left {
	text-align: left;
}

.right {
	text-align: right;
}

.center {
	text-align: center;
}