.Modal {
	bottom: 0;
	left: 0;
	opacity: 0;
	pointer-events: none;
	position: fixed;
	right: 0;
	top: 0;
	z-index: var(--z-modal);
}

.overlay {
	align-items: center;
	background: var(--col-modal-bg);
	display: flex;
	height: 100%;
	justify-content: center;
	width: 100%;
}

.content {
	background: var(--bg-color);
	border: 1px solid var(--border-color);
	color: var(--secondary-color);
	max-width: 60%;
	padding: 20px;
	transform: scale(0.5);
	transition: 0.3s transform;
}

.opened {
	opacity: 1;
	pointer-events: auto;
	z-index: var(--z-modal-active);

	.content {
		transform: scale(1);
	}
}

.isClosing {
	.content {
		transform: scale(0);
	}
}