.Button {
	color: var(--primary-color);
	cursor: pointer;
	padding: 6px 15px;
}

.clear {
	background: none;
	border: none;
	margin: 0;
	outline: none;
	padding: 0;
}

.outline {
	background: none;
	border: 1px solid var(--primary-color);
	color: var(--primary-color);
}

.outlineInverted {
	background: none;
	border: 1px solid var(--primary-color);
	color: var(--primary-color);
}

.background {
	background: var(--bg-color);
	border: none;
	color: var(--primary-color);
}

.backgroundInverted {
	border: none;
	color: var(--primary-color);
}

.square {
	padding: 0;
}

.square.size_m {
	height: var(--font-line-m);
	width: var(--font-line-m);
}

.square.size_l {
	height: var(--font-line-l);
	width: var(--font-line-l);
}

.square.size_xl {
	height: var(--font-line-xl);
	width: var(--font-line-xl);
}

.size_m {
	font: var(--font-m);
}

.size_l {
	font: var(--font-l);
}

.size_xl {
	font: var(--font-xl);
}

.disabled {
	opacity: 0.5;
}