.Button {
	cursor: pointer;
}

.clear {
	background: none;
	border: none;
	margin: 0;
	outline: none;
	padding: 0;
}

.outline {
	background: none;
	border: 1px solid var(--primary-color);
	color: var(--primary-color);
	padding: 10px 15px;
}