.Sidebar {
	background: var(--inverted-bg-color);
	height: calc(100vh - var(--header-height));
	position: relative;
	transition: width 0.3s;
	width: var(--sidebar-width);
}

.collapseBtn {
	bottom: 40px;
	position: absolute;
	right: 40px;
}

.items {
	display: flex;
	flex-direction: column;
	margin: 20px;
}

.collapsed {
	width: var(--sidebar-width-collapsed);
}