.Sidebar {
	background: var(--inverted-bg-color);
	height: calc(100vh - var(--navbar-height));
	position: relative;
	transition: width 0.3s;
	width: var(--sidebar-width);
}

.collapsed {
	width: var(--sidebar-width-collapsed);
}