.SidebarItem {
	display: flex;
	height: 50px;
	margin: 5px 0;
	position: relative;
}

.text {
	align-items: center;
	display: flex;
	margin-left: -11px;
	opacity: 0;
	white-space: nowrap;
	z-index: var(--z-sidebarItem-text);
}

.opened {
	display: flex;
	margin-left: 60px;
	margin-right: 10px;
	opacity: 1;
	transition: margin-left 0.1s;
}

.link {
	display: flex;
}

.icon {
	align-items: center;
	background-color: var(--back-light);
	display: flex;
	flex: 0 0 45px;
	height: 50px;
	justify-content: center;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	width: 50px;
	z-index: var(--z-sidebarItem-icon);

	svg {
		fill: var(--primary-color);
	}

	&:hover {
		svg {
			fill: var(--glow-color);
		}
	}
}