.SidebarItem {
	display: flex;
	height: 50px;
	margin: 5px 0;
	position: relative;
}

.text {
	align-items: center;
	display: none;
	transition: margin-left 4s;
	white-space: nowrap;
	z-index: var(--z-sidebarItem-text);
}

.link {
	display: flex;

	&:hover {
		.text {
			display: flex;
			margin-left: 60px;
			margin-right: 10px;
			transition: margin-left 2s;
		}
	}
}

.icon {
	align-items: center;
	background-color: var(--black-light);
	display: flex;
	flex: 0 0 45px;
	height: 50px;
	justify-content: center;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	width: 50px;
	z-index: var(--z-sidebarItem-icon);

	svg {
		fill: var(--primary-color);
	}

	&:hover {
		svg {
			fill: var(--glow-color);
		}
	}
}