.loading,
.error {
	align-items: center;
	display: flex;
	justify-content: center;
}

.birthday {
	display: flex;
	justify-content: space-between;
}

.birthdayItem {
	width: 100px;
}

.formItem {
	margin-top: 5px;
}