.Input {
	background-color: transparent;
	border: 1px solid var(--secondary-color);
	color: var(--secondary-color);

	&:active {
		border: 1px solid var(--secondary-color);
		border-radius: 0;
	}

	&:focus {
		border: 1px solid var(--secondary-color);
		border-radius: 0;
	}
}

.readonly {
	opacity: 0.7;
}