.Input {
	background-color: transparent;
	border: 1px solid var(--secondary-color);
	color: var(--secondary-color);
	outline: none;

	&:focus {
		border: 1px solid var(--secondary-color);
	}
}

.readonly {
	opacity: 0.7;
}