.Select {
	background-color: var(--bg-color);
	border: 1px solid var(--secondary-color);
	border-radius: var(--r-default);
	position: relative;
}

.selectActive {
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
}

.control {
	align-items: center;
	display: flex;
}

.input {
	border: none;
	width: 100%;
}

.arrowContainer {
	align-items: center;
	cursor: pointer;
	display: flex;
	justify-content: center;
	padding: 0 8px;
}

.arrow {
	fill: var(--secondary-color);
	transform: rotate(0deg);
	transition: transform 0.8s;
}

.arrowActive {
	transform: rotate(540deg);
	transition: transform 0.8s;
}

.menu {
	background-color: var(--bg-color);
	border: 1px solid var(--secondary-color);
	border-bottom-left-radius: var(--r-default);
	border-bottom-right-radius: var(--r-default);
	display: none;
	max-height: 200px;
	position: absolute;
	width: 100%;
	z-index: var(--z-selectMenu);
}

.menuContainer {
	margin-bottom: 10px;
	max-height: 190px;
	overflow-y: auto;

	&::-webkit-scrollbar {
		width: 3px;
	}

	&::-webkit-scrollbar-track {
		background: var(--bg-color);
	}

	&::-webkit-scrollbar-thumb {
		background-color: var(--glow-color);
		border-radius: 20px;
	}
}

.menuActive {
	display: block;
}

.option {
	cursor: pointer;
	padding: 2px 10px;

	&:hover {
		background-color: var(--hover-color);
	}

	&:first-child {
		border-top: 1px solid var(--secondary-color);
	}
}

.selectDisabled {
	border: 1px solid var(--disabled-color);

	.input,
	.arrowContainer {
		cursor: default;
	}

	.arrow {
		fill: var(--disabled-color);
	}
}