.app.dark {
	--bg-color: #060651;
	--inverted-bg-color: #cfcfd2;
	--primary-color: #17ad17;
	--secondary-color: #2afb2a;
	--inverted-primary-color: #0a2e77;
	--inverted-secondary-color: #1a3ff6;
	--themeIcon-color: #0115c6;
}