.app_dark_theme {
	--bg-color: #101427;
	--inverted-bg-color: #cfcfd2;
	--primary-color: #0ee40e;
	--secondary-color: #17ad17;
	--inverted-primary-color: #1a3ff6;
	--inverted-secondary-color: #0a2e77;
	--glow-color: #3d68b0;
	--transparent-glow-color: #3d68b07d;
}