.app_dark_theme {
	--bg-color: #101427;
	--primary-color: #fff;
	--secondary-color: #fff;
	--glow-color: #3d68b0;
	--transparent-glow-color: #3d68b07d;
	--back-dark: #0b0c10;
	--back-light: #262326;
	--bg-gradient: linear-gradient(to right, var(--back-dark), var(--back-light));
	--luminous-shadow:
		0 0 2px 2px var(--transparent-glow-color),
		0 0 20px 0 var(--transparent-glow-color),
		0 0 100px 10px var(--glow-color);
}