.app_light_theme {
	--bg-color: #fdfdff;
	--primary-color: #fff;
	--secondary-color: #000;
	--glow-color: #fd853b;
	--transparent-glow-color: #fd853b7d;
	--back-dark: #656a82;
	--back-light: #818599;
	--bg-gradient: linear-gradient(to right, var(--back-dark), var(--back-light));
}