.app_light_theme {
	--bg-color: #cfcfd2;
	--inverted-bg-color: #060651;
	--primary-color: #1a3ff6;
	--secondary-color: #0a2e77;
	--inverted-primary-color: #0ee40e;
	--inverted-secondary-color: #17ad17;
	--themeIcon-color: #ffc700;
}