.Navbar {
    width: 100%;
    height: var(--navbar-height);
    background: var(--inverted-bg-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.navigation {
    &Item {
        margin-left: 15px;
    }
}

.switchers {
    display: flex;
    align-items: center;
    &Item {
        margin-right: 10px;
        color: var(--inverted-secondary-color);
    }
}