.Navbar {
	background: var(--bg-gradient);
	height: var(--navbar-heigh);
	position: relative;
	z-index: var(--z-Navbar);
}

.loginMenu {
	background: var(--back-light);
	display: flex;
	height: 55px;
	justify-content: center;
	position: absolute;
	right: 200px;
	top: 0;
	width: 140px;
	z-index: var(--z-liginMenu);

	&::after {
		background: var(--back-light);
		box-shadow: 3px -7px 2px 1px var(--col-shadow);
		content: '';
		height: 55px;
		position: absolute;
		right: -10px;
		transform: skew(-15deg);
		width: 30px;
	}

	&::before {
		background: var(--back-light);
		box-shadow: -3px -7px 2px 1px var(--col-shadow);
		content: '';
		height: 55px;
		left: -10px;
		position: absolute;
		transform: skew(15deg);
		width: 30px;
	}
}

.login {
	align-items: center;
	background: var(--back-light);
	display: flex;
	height: 62px;
	justify-content: center;
	position: relative;
	width: 100px;
	z-index: var(--z-login-figure);

	&::after {
		background: var(--back-light);
		box-shadow: 3px -8px 2px 1px var(--col-shadow);
		content: '';
		height: 62px;
		position: absolute;
		right: -10px;
		transform: skew(-5deg);
		width: 30px;
		z-index: var(--z-login-figure);
	}

	&::before {
		background: var(--back-light);
		box-shadow: -3px -8px 2px 1px var(--col-shadow);
		content: '';
		height: 62px;
		left: -10px;
		position: absolute;
		transform: skew(5deg);
		width: 30px;
		z-index: var(--z-login-figure);
	}
}

.switchers {
	display: flex;
	flex-direction: row;
	height: 100%;
}

.switchersElement {
	align-items: center;
	background-color: var(--back-light);
	display: flex;
	height: 100%;
	justify-content: center;
	position: relative;
	width: 100px;

	&:hover {
		color: var(--glow-color);
		cursor: pointer;

		svg {
			fill: var(--glow-color);
		}
	}
}

.switchersItem {
	margin-left: 2px;
}

.menuItem {
	height: 100%;
	width: 100%;
}