.Navbar {
	align-items: center;
	background: var(--inverted-bg-color);
	display: flex;
	height: var(--navbar-height);
	justify-content: space-between;
	padding: 20px;
	width: 100%;
}

.navigation {
	&Item {
		margin-left: 15px;
	}
}

.switchers {
	align-items: center;
	display: flex;

	&Item {
		color: var(--inverted-secondary-color);
		margin-right: 10px;
	}
}