.LuminousContainer {
	align-items: center;
	display: flex;
	justify-content: center;
	z-index: var(--z-LuminousContainer);
}

.background {
	background: var(--col-container);
}

.hover {
	cursor: pointer;

	&:hover {
		box-shadow:
			0 0 4px 4px var(--transparent-glow-color),
			0 0 30px 0 var(--transparent-glow-color),
			0 0 130px 20px var(--glow-color);
		z-index: var(--zh-LuminousContainer);
	}
}

.defaultGlow {
	box-shadow:
		0 0 2px 2px var(--transparent-glow-color),
		0 0 20px 0 var(--transparent-glow-color),
		0 0 100px 10px var(--glow-color);
}

.skew {
	transform: skew(15deg);
}

.radius {
	border-radius: 10px;
}

.border {
	border: 2px solid var(--glow-color);
}