.DropDownMenu {
	align-items: center;
	background: var(--bg-gradient-up);
	border: 1px solid var(--border-color);
	display: flex;
	flex-direction: column;
	height: 0;
	padding: 0;
	position: absolute;
	top: 0;
	transition: padding 1s;
	width: 100%;
	z-index: var(--z-dropDownMenu);
}

.opened {
	height: auto;
	padding: 70px 0 20px;
}

.isOpening {
	height: auto;
	padding: 70px 0 20px;
}

.isClosing {
	padding: 0;
	width: 90%;
}