.DropDownMenu {
	background: var(--bg-gradient-up);
	display: none;
	position: absolute;
	width: 100%;
	z-index: var(--z-drop-down-menu);
}

.directionTop {
	padding: 70px 0 20px;
	top: -1000px;
}

.opened {
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.directionTop.opened {
	top: 0;
}